<% @posts.each do |post| %>

<div>
	Title: <%= post[:title]%>
	Description: <%= post[:description]%>
	Author: <%= post[:author]%>
	Tags: <%= post.tags.map(&:name)%>
	<a href="/posts/<%=post.id%>">click</a>


</div>
	<% end %>
